{%  extends "basefront.html.twig" %}

{%  block body %}
    <h3 class="mt-2">Bienvenue sur mon site personnel de présentation de mes voyages</h3>
    <p class="mt-2">
        Dans la partie <a href="{{ path('voyages') }}">Voyages</a>, vous pouvez voir la liste des visites que j'ai faites dans différentes villes.<br>
        A chaque fois j'ai précisé la ville visitée, le pays, j'ai mis une note (entre 0 et 20) et il y a aussi la date de la visite.<br>
        Vous pouvez trier la liste en fonction des villes, des pays, des notes et des dates, aussi bien dans l'ordre croissant que décroissant.<br>
        Vous pouvez aussi filtrer les visites par rapport à une ville ou un pays.<br>
        En cliquant sur la ville de visite, vous pourrez avoir plus d'informations dessus :<br>
        températures min et max, une description de la visite, les environnements (montagne, mer, désert ...) et une photo.<br>
        Enfin, vous pouvez me contacter avec le formulaire de <a href='{{ path('contact') }}'>Contact</a>.
    </p>
    <p class='mt-2'>
        Voici mes 2 derniers voyages :
    </p>
    <div class='container'>
        <div class='row'>
            {% for visite in visites %}
                <div class='col'>
                    <div class='row'>
                        <div class='col'>
                            <div class='row mt-2'>
                                {{ visite.datecreationstring }}
                            </div>
                            <div class='row mt-2'>
                                <a href="{{ path('voyages.showone', {id:visite.id}) }}" class='h4'>{{ visite.ville }}</a>
                            </div>
                            <div class='row mt-2'>
                                {{ visite.pays }}
                            </div>
                            <div class='row mt-2'>
                                {%  if visite.note >= 10 %}
                                    <p class="text-success mt-2">{{ visite.note }}/20</p>
                                {% else %}
                                    <p class="text-danger mt-2">{{ visite.note }}/20</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class='col col-md-6 mr-4'>
                            {% if visite.imagename %}
                                <img alt="image destination" src="{{ app.request.getBasePath()~vich_uploader_asset(visite, 'imageFile') }}" class="card-img-top" style="width:100%;height:auto;"/>
                            {% endif %} 
                        </div>
                    </div>
                    <div class='row'>
                        <p class='mt-2'>t° entre {{ visite.tempmin }}° et {{ visite.tempmax }}°</p>
                    </div>
                    <div class='row'>
                        <p class='mt-2'><strong>Environnements :</strong><br/>
                            {% for environnement in visite.environnements %}
                                {{ environnement.nom }}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
